.page {
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.nav {
  /* Agrega las propiedades flex aquí */
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  justify-content: flex-start;
  width: 58px;
  height: 80px;
}

.nav__links {
  /* Restablece los estilos predeterminados de list aquí */
  margin: 8px 0 0;
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding: 0px;
  list-style-type: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  margin-top: 128px;
  max-width: 635px;
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  margin-top: 32px;
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  display: flex;
  max-width: 636px;
}

.staff__title {
  justify-content: center;
  color: white;
  font-size: 45px;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 24px;
}

.staff__subtitle {
  color: white;
  margin-bottom: 68px;
  font-size: 30px;
}

.list {
  display: flex;
  max-width: 760px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  padding: 0;
}

.card {
  width: 360px;
  height: 420px;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}

.background {
  background-image: url(/images/staff_picks_background.jpg);
  background-size: cover;
  height: 100%;
}

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  background-image: url("/images/staff_picks_background.jpg");
  background-size: cover;
  padding: 100px 100px 140px 100px;
}

.staff__cards {
  display: flex;
  max-width: 760px;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  gap: 40px;
  padding: 0;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.card__title {
  font-size: 20px;
  line-height: 1.5;
}

.card__text {
  justify-content: center;
  font-size: 15px;
  line-height: 22px;
}

.card__footer {
  color: #838383;
  margin: auto 0 0;
}

.header__content {
  background-color: white;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: auto 0 0;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
